:root {
    --bg-color: #171616;
    --post-bg-color: #2c2b2b;
    --font-color: #f6e9e3;
    --title-color: #ffeec3;
    --primary-color: #ff9451;
    --secondary-color: #ff4e2e;
    --accepted-color: #2a5759;
    --utility-color: #732222;
    --primary-lighter-color: #ffe2b9;
}