:root {
    --bg-color: #f6e9e3;
    --post-bg-color: floralwhite;
    --font-color: #171616;
    --title-color: #1e1a1a;
    --primary-color: #ff4e2e;
    --secondary-color: #ff9451;
    --accepted-color: #ccf5ff;
    --utility-color: #732222;
    --primary-lighter-color: #ffe2b9;
}


