:root {
    --bg-color: #f6e9e3;
    --font-color: #171616;
    --primary-color: #ffb171;
    --secondary-color: #ff5757;
    --accepted-color: #bdff93;
    --utility-color: #732222;
    --primary-lighter-color: #fdc5a0;
}


