body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

div.comment-container > div.message {
    font-size: 12px;
}
.nav-bar {
    padding-left: 5em;
}

.bg-light {
    background: floralwhite;
}

.footer {
    justify-self: flex-end;
}

.page {
    display: flex;
    padding-top: 3em;
    justify-content: space-between;
}

.page-title {
    padding-left: 3em;
}

.page-footer {
    padding-left: 3em;
    margin-top: 2em;
}


.sidebar {
    width: 15%;
}

.content {
    display: flex;
    flex-direction: column;
}

.post-area {
    display: flex;
    flex-direction: column;
}

.post-light {
    background: floralwhite;
    box-shadow: 0 5px 7px 0 #888888;
}

.replies {
    display: flex;
    flex-direction: column;
}

.comment-container {
    display: grid;
    background: rgba(140, 221, 255, 0.3);
    border-radius: 5px 5px 50px 5px;
    padding: 5px;
    border-top: 2px solid;
    border-color: darkblue;
    grid-template-columns: 34em 4em;
    grid-template-rows: 2.5em 2em;
    grid-template-areas:
    "message options"
    "post-footer post-footer";
}

.answer {
    width: 45em;
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 5px 5px 50px 5px;
    display: grid;
    align-self: center;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 1fr 2em;
    font-size: 14px;
    gap: 0 0;
    grid-template-areas:
    "vote-bar message options"
    "vote-bar post-footer post-footer"
    "add-comments comments comments";
}

.post {
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 5px 5px 50px 5px;
    display: grid;
    grid-template-columns: 6em 34em 7em;
    grid-template-rows: 2.5em 1fr 2em 2em;
    font-size: 16px;
    gap: 0 0;
    grid-template-areas:
    "vote-bar title options"
    "vote-bar message message"
    ". post-footer post-footer"
    ". tags tags"
    "add-comments comments comments";
}

.main-header {
    justify-self: flex-start;
    padding-bottom: 1em;
    background: floralwhite;
}

.title {
    grid-area: title;
    font-size: large;
}

.buttons {
    display: flex;
    grid-area: options;
    justify-content: flex-end;
    align-items: flex-start;
}

.message {
    grid-area: message;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}
.tags { grid-area: tags; }
.comments { grid-area: comments; }

.add-comments {
    display: flex;
    flex: 1 1 auto;
    grid-area: add-comments;
    align-items: flex-start;
}

.vote-bar {
    grid-area: vote-bar;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

.post-footer {
    grid-area: post-footer;
    display: inline-flex;
    font-size: small;
    justify-content: flex-end;
}

.stat {
    display: flex;
    align-self: center;
    justify-content: flex-end;
}

.stat-box {
    display: flex;
    align-self: center;
    padding-right: 2em;
}

.search-bar {
    display: flex;
    padding-top: 1em;}

.editable-tag {
    position:relative;
    user-select: none;
}

.editable-tag:hover, #tag-box:hover {
    margin-top: 0;
    -moz-box-shadow: 0 0 4px 1px grey;
    -webkit-box-shadow: 0 0 4px 1px grey;
    box-shadow: 0 0 4px 1px grey;
}

.editable-tag:hover .hidden {
    display: block;
}

.editable-tag a {
    display: none;
    position: absolute;
    top: 1px;
    right: 10%;
    z-index: 100;
    color: darkred !important;
}

.vote-button-light {
    text-align: center;
}

.button-light {
    border-radius: 10%;
    background: lightskyblue;
    padding: 0.2em;
    text-align: center;
}
.button-light::after {
  border-radius: 50%;
  left: -50%;
  right: -50%;
  top: -150%;
  bottom: -150%;
  line-height: 8.34em;
  transform: scale(0, 0);
}

.button-light::after {
    transform: scale(1, 1);
}
.button-light:hover {
    background: darkslateblue;
}

a.link-light:link {
    text-decoration: none;
    color: cornflowerblue;
}

a.link-light:visited {
    color: cornflowerblue;
}

a.link-light:active {
    color: white;
}

.accepted {
    background: #8fdab0 !important;
}