.centered {
    margin: auto;
    width: 50%;
}
.voting {
    text-align: center;
    vertical-align: top;
    width: 40px;
}
.answers {
    margin-top: 50px;
}
.question {
    font-size: 25px;
}
#answer {
    position: relative;
    left: 40px;
}
.small_text {
    font-size: 12px;
}

.title {
    text-align: center;
}

.left_text {
    text-align: left;
}

table th td {
    border: 1px solid black;
}

.submit_time{
    width: 65%;
}

.separator{
    border-width: 50px 0 0 0;
    font-size: 14px;
}