/*table td {*/
/*    border: 1px solid black;*/
/*}*/

.centered {
    margin: auto;
    width: 50%;
}

.voting {
    text-align: center;
    width: 7%;
    font-weight: bold;
    vertical-align: top;
}

.answers {
    margin-top: 50px;
}

.question {
    font-size: 25px;
}

#answer {
    position: relative;
    left: 40px;
}

.small_text {
    font-size: 12px;
}

.title {
    text-align: center;
}

.left_text {
    text-align: left;
}

.right_text {
    text-align: right;
}

.submit_time {
    width: 70%;
}

.stat-box {
    width: 7%;
}

.separator{
    border-width: 50px 0 0 0;
    font-size: 14px;
}

#myButton {
	background:linear-gradient(to bottom, white 2%, powderblue 100%);
	border-radius:3px;
	border:1px solid lightcyan;
	display:inline-block;
	cursor:pointer;
	color:dimgray;
	font-family:Arial,monospace;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0 1px 0 white;
}

#myButton:hover {
	background:linear-gradient(to bottom, lightcyan 5%, white 100%);
    color: lightgray;
}
#myButton:focus {
    background:linear-gradient(to bottom, skyblue 5%, white 100%);
    color: dimgray;
}
#myButton:active {
    position: relative;
    top: 1px;
}

.stats {
    font-weight: bold;
    padding-top: 1em;
    font-size: 13px;
    font-style: oblique;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

.header {
    width: auto;
    padding: 5% 10% 1em 10%;
    background:linear-gradient(to bottom, lightblue 5%, white 100%);
    color: dimgray;
}

.top-separator {
    padding-top: 50px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background:linear-gradient(to bottom, white 50%, lightblue 100%);
}

textarea {
    width: 40em;
    height: 16em;
}

.edit-delete {
    width: 15%;
}

a:link {
  color: cornflowerblue;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
    color: cornflowerblue;
    background-color: transparent;
    text-decoration: none;
}

#upvote {
    color: black;
}

.linebreak {
    white-space: pre-line;
}

#footer {
    margin-top: auto;
    height: 130px;
    padding: 3em 0 0 5em;
}

.nav_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search{
    align-self: flex-end;
}
