{% extends "layout.html" %}
{% block title%} | Post answer{% endblock %}
{% block buttons %}
<li><a href="{{ url_for('display_question', question_id=question_id, view='f') }}">Back to question</a></li>
{% endblock %}
{% block content %}
<div class="centered">
<h1>{% block header %}Post your answer{% endblock %}</h1>
<form method="post" enctype="multipart/form-data">
    <label for="answer_message">Your answer:</label><br>
    <textarea name="answer_message" required="required">{% block answer_message %}{% endblock %}</textarea><br><br>
    <label for="image">Add image</label>
    <input type="file" name="image" accept="image/gif, image/jpeg, image/png"><br><br>
    <button type="submit" name="post answer">Post answer</button>
</form>
</div>
{% endblock %}
