<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AskMate | Add new question</title>
</head>
    <body>
        <h3>What is your question?</h3><br>
    <form>
        <label for="title">Title:</label><br>
        <input id="title" name="title"><br><br>
        <label for="text">Please describe your problem:</label><br>
        <textarea id="text" name="message"></textarea><br><br>
        <label for="image">Add image:</label><br>
        <input type="file" accept="image/*" id="image">
    </form>
    </body>
</html>