<div class="answer post-light">
    <div class="edit">
        <a class="link-light" href="{{ url_for('update_answer', question_id=answer['question_id'], answer_id=answer['id']) }}">
            <span class="material-icons button-light">edit_note</span>
        </a>
    </div>
    <div class="delete">
        <a class="link-light" href="{{ url_for('delete_answer', question_id=answer['question_id'], answer_id=answer['id']) }}">
            <span class="material-icons button-light">delete</span>
        </a>
    </div>
    <div class="vote-bar">
        <table>
            <tr><td><a class="link-light" href="{{ url_for('vote_answer', answer_id=answer['id'], vote='up') }}">▲</a></td></tr>
            <tr><td>{{ answer["vote_number"] }}</td></tr>
            <tr><td><a class="link-light" href="{{ url_for('vote_answer', answer_id=answer['id'], vote='down') }}">▼</a></td></tr>
        </table>
    </div>
    <div class="message">
        <p>{{ answer["message"] }}</p>
        {% if answer["image"] %}
                <img src="{{ url_for("static", filename="images/"+answer["image"]) }}" alt="" width="500">
        {% endif %}
    </div>
    <div class="post-footer">
        <div class="stat-box"><i>submitted: {{ answer["name"] }} | {{ answer["submission_time"] }}</i></div>
    </div>
    {% with full_route=url_for('add_comment_to_answer', answer_id=answer['id']), to_comment=answer, id_type="answer_id" %}
            {% include "comment_table.html" %}
    {% endwith %}
</div>