{% if not answer["accepted"] %}
<div class="buttons" data-user-id="{{ question["user_id"] }}">
        <a onclick="store_scrollbar()" class="link-light" href="{{ url_for('accept', answer_id=answer['id']) }}">
            <span class="material-icons button-light">done</span>
        </a>
    </div>
{% endif %}
    <div class="buttons" data-user-id="{{ answer["user_id"] }}">
        <a class="link-light" href="{{ url_for('update_answer', question_id=answer['question_id'], answer_id=answer['id']) }}">
            <span class="material-icons button-light">edit_note</span>
        </a>
        <a class="link-light" href="{{ url_for('delete_answer', question_id=answer['question_id'], answer_id=answer['id']) }}">
            <span class="material-icons button-light">delete</span>
        </a>
    </div>
    <div class="vote-bar">
        <table>
            {% if "username" in session %}
            <tr><td><a onclick="store_scrollbar()" class="link-light" href="{{ url_for('vote_answer', answer_id=answer['id'], vote='up') }}">▲</a></td></tr>
            <tr><td>{{ answer["vote_number"] }}</td></tr>
            <tr><td><a onclick="store_scrollbar()" class="link-light" href="{{ url_for('vote_answer', answer_id=answer['id'], vote='down') }}">▼</a></td></tr>
            {% else %}
            <tr><td><a class="link-light" href="{{ url_for('login_user') }}">▲</a></td></tr>
            <tr><td>{{ answer["vote_number"] }}</td></tr>
            <tr><td><a class="link-light" href="{{ url_for('login_user') }}">▼</a></td></tr>
            {% endif %}
        </table>
    </div>
    <div class="message">
        <div class="message-text">{{ answer["message"] }}</div>
        {% if answer["image"] %}
                <img src="{{ url_for("static", filename="images/"+answer["image"]) }}" alt="" width="500">
        {% endif %}
    </div>
    <div class="post-footer">
        <div class="stat-box"><i>submitted: {{ answer["user_id"] | get_user_name }} | {{ answer["submission_time"] }}</i></div>
    </div>
    {% with full_route=url_for('add_comment_to_answer', answer_id=answer['id']), to_comment=answer, id_type="answer_id" %}
            {% include "comment.html" %}
    {% endwith %}
