<div class="add-comments">
    <a class="link-light" href="{{ full_route }}">
        <span class="material-icons button-light wide">comment</span>
    </a>
</div>
<div class="comments">
    {% for comment in (id_type | get_comments(to_comment['id'])) %}
    <div class="comment-container">
        <div class="message">
            {{ comment["message"] }}
        </div>
        <div class="edit">
            <a class="link-light" href="{{ url_for('update_comment', comment_id=comment['id'], question_id=question['id']) }}">
                <span class="material-icons button-light">edit_note</span>
            </a>
        </div>
        <div class="delete">
            <a class="link-light" href="{{ url_for('delete_comment', comment_id=comment['id'], question_id=question['id']) }}">
                <span class="material-icons button-light">delete</span>
            </a>
        </div>
        <div class="post-footer">submitted: {{ comment["submission_time"] }}</div>
    </div>
    {% endfor %}
</div>