{% extends "layout.html" %}
{% block buttons %}<a href="/addquestion" id="myButton"><li>Add new question</li></a>{% endblock %}
    {% if data %}
{% block search_bar %}
    <form method="post">
        <label for="sort_key">Sorted by:</label>
        <select name="sort_key" onchange="this.form.submit()">
            {% if data %}
            {% for key in data[0].keys() %}
                {% if default_sort == key %}
                    <option selected value={{ key }}>{{ key }}</option>
                {% else %}
                    <option value={{ key }}>{{ key }}</option>
                {% endif %}
            {% endfor %}
            {% endif %}
        </select>
        {% if checked %}
            <input checked name="reverse" type="checkbox" onchange="this.form.submit()">
        {% else %}
            <input name="reverse" type="checkbox" onchange="this.form.submit()">
        {% endif %}
        <label for="reverse">Reversed</label>
    </form>
{% endblock %}
        {% endif %}
{% block content %}
    {% if data %}
    {% for question in data %}
        {% include "index_post.html" %}
    {% endfor %}
    {% endif %}
    {% if not data %}
        <div>
        <h1 class="centered">No result found</h1>
        </div>
    {% endif %}
{% endblock %}