<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AskMate | Main page</title>
    <style>
        .title {
            text-align: center;
        }
        .centered {
            margin: auto;
        }
    </style>
</head>
<body>
    <div class="title"><h1>Welcome to AskMate!</h1></div>
    <div class = "title"><a href="/addquestion">Add new question</a> </div><br>
    {% for question in data %}
    <table width="50%" class="centered">
        <tr>
            <th colspan="3">
                <a href="{{ url_for('display_question', question_id=question["id"]) }}"> {{ question["title"] }}</a>
            </th>
        </tr>
        <tr>
            <td colspan="3">
                {{ question["message"] }}
            </td>
        </tr>
        <tr>
        <td>submitted: {{ question["submission_time"] | convert_timestamp }}</td>
        <td>views: {{ question["view_number"] }} </td>
        <td>votes: {{ question["vote_number"] }} </td>
        </tr>
    </table><br>
    {% endfor %}

</body>
</html>