<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta http-equiv="content-type" content="text/html; charset = UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AskMate{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/general.css">
    <link rel="stylesheet" type="text/css" href="/static/menu_stylesheet.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="shortcut icon" href="{{ url_for("static",filename="favicon.ico") }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/static/voting.js" defer></script>
    <script src="/static/theme_switcher.js" defer></script>
</head>
{% endblock %}
<body class="bg-light light-colors">
{% block title_header %}
    <div class="main-header">
        <div class="page-title">
            {% if "username" in session %}
                <p>You are logged in as: {{ session["username"] }}</p>
            {% else %}
                <p>Please login first!</p>
            {% endif %}
            <div class="askmate-title">Welcome to AskMate!</div><h5>"Don't lose faith, use AskMate!"</h5>
        </div>
        <div class="nav-bar">
        <div class="search-bar">
            {% block search_bar %}{% endblock %}
            <form {% if data %} class="search" {% else %} class="centered" {% endif %} role="search" action="{{ url_for("search", search=search) }}">
        <input type="search" placeholder="Search on site..." name="search">
            </form>
        </div>
        <div class="theme-button right-margin"><a><span>dark theme</span></a>
        </div>
        </div>
    </div>
    </div>
{% endblock %}
<div class="page">
    <div class="sidebar">
        <nav role="navigation">
  <div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
        <a href="{{ url_for('first_page') }}"><li>Home</li></a>
        <a href="{{ url_for('list_index') }}"><li>All questions</li></a>
        <a href="{{ url_for('tag_list') }}"><li>Tag list</li></a>
        {% if "username" not in session %}
        <a href="{{ url_for('login_user') }}"><li>Login</li></a>
        <a href="{{ url_for('register_user') }}"><li>Register</li></a>
        {% else %}
        {% block buttons %}
        {% endblock %}
        <a href="{{ url_for('user_list') }}"><li>User list</li></a>
        <a href="{{ url_for('profile_page',user_id = session["userid"]) }}"><li>My Profile</li></a>
        <a href="{{ url_for('logout_user') }}"><li>Logout</li></a>
        {% endif %}
    </ul>
  </div>
</nav>
    </div>
    <div class="content">
    {% block content %}{% endblock %}
    </div>
    <div class="sidebar"></div>
</div>
{% block footer %}
    <div class="page-footer">
        <p>2021 flAskMate©®™</p>
    </div>
{% endblock %}

{% include "cookie_popup.html" %}
</body>
    <script src="/static/hide_buttons.js"></script>
    <script>hide_relevant_buttons({{ session["username"] | get_user_id }});</script>
</html>