{% extends "layout.html" %}

{% block title %} | {{ question['title'] }}{% endblock %}

{% block content %}
<div>
    <table class="centered">
        <tr>
            <td colspan="2" class="question">
                <h3>{{ question["title"] }}</h3>
            </td>
            <td style="text-align: right">
                <a href="{{ url_for('edit_question', question_id=question['id']) }}">Edit question</a><br>
                <a href="{{ url_for('delete_question', question_id=question['id']) }}">Delete question</a>
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td rowspan="2" class="voting question">
                <strong><a href="">/\</a><br>{{ question["vote_number"] }}<br><a href="">\/</strong>
            </td>
            <td colspan="3" class="question">
                {{ question["message"] }} <br><br>
                <img src="{{ url_for('static', filename=question["image"]) }}" alt="" width="500">
            </td>
        </tr>
        <tr>
            <td>submitted: {{ question["submission_time"] | convert_timestamp }}</td>
            <td style="text-align: right">views: {{ question["view_number"] }} </td>
        </tr>
    </table>
</div>
<div class="answers" id="answer">
    {% for answer in answers %}
    <table class="centered">
        <tr>
            <td rowspan="2" class="voting">
                <strong>
                    <a href="{{ url_for('vote_up_answer', answer_id=answer['id']) }}">/\</a><br>
                    {{ answer["vote_number"] }}<br>
                    <a href="{{ url_for('vote_down_answer', answer_id=answer['id']) }}">\/</a>
                </strong>
            </td>
            <td colspan="2">
                {{ answer["message"] }}
            </td>
        </tr>
        <tr class="small_text">
            <td>submitted: {{ answer["submission_time"] | convert_timestamp }}</td>
            <td><a href="{{ url_for('update_answer', question_id=answer['question_id'], id=answer['id']) }}">Edit Answer</a></td>
            <td><a href="{{ url_for('delete_answer', question_id=answer['question_id'], id=answer['id']) }}">Delete Answer</a></td>
        </tr>
    </table>
    {% endfor %}
</div>
<div>
    <a href="{{ url_for('add_answer', question_id=question["id"]) }}">Add new answer</a>
</div>
<div>
    <a href="{{ url_for('list_index') }}">Back to main page</a>
</div>
{% endblock %}