{% extends "layout.html" %}

{% block title %} | {{ question['title'] }}{% endblock %}
{% block buttons %}
<a href="{{ url_for('add_answer', question_id=question["id"]) }}">Add new answer</a>
{% endblock %}
{% block content %}
<div class="sidebar"></div>
<div class="content">
    <div class="post-area">
        {% include "post.html" %}
    </div>
<div class="replies">
{% for answer in answers %}
    {% if answer['accepted'] %}
    <div class="answer post-light accepted">
        {% include "answer.html" %}
    </div>
    {% else %}
    <div class="answer post-light">
    {% include "answer.html" %}
    </div>
    {% endif %}
{% endfor %}
</div>
</div>
<div class="sidebar"></div>
{% endblock %}