<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .centered {
            margin: auto;
            width: 50%;
        }
        .voting {
            text-align: center;
            vertical-align: top;
            width: 40px;
        }
        .answers {
            margin-top: 50px;
        }
        .question {
            font-size: 25px;
        }
        #answer {
            position: relative;
            left: 40px;
        }
        .small_text {
            font-size: 12px;
        }
    </style>
    <meta charset="UTF-8">
    <title>AskMate | {{ question['title'] }}</title>
</head>
<body>
<div>
    <table class="centered">
        <tr>
            <td colspan="2" class="question">
                <h3>{{ question["title"] }}</h3>
            </td>
            <td style="text-align: right">
                <a href="{{ url_for('edit_question', question_id=question['id']) }}">Edit question</a>
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td rowspan="2" class="voting question">
                <strong><a href="">/\</a><br>{{ question["vote_number"] }}<br><a href="">\/</strong>
            </td>
            <td colspan="2" class="question">
                {{ question["message"] }}
            </td>
        </tr>
        <tr>
            <td>submitted: {{ question["submission_time"] | convert_timestamp }}</td>
            <td style="text-align: right">views: {{ question["view_number"] }} </td>
        </tr>
    </table>
</div>
<div class="answers" id="answer">
    {% for answer in answers %}
    <table class="centered">
        <tr>
            <td rowspan="2" class="voting">
                <strong>
                    <a href="{{ url_for('vote_up_answer', answer_id=answer['id']) }}">/\</a><br>
                    {{ answer["vote_number"] }}<br>
                    <a href="{{ url_for('vote_down_answer', answer_id=answer['id']) }}">\/</a>
                </strong>
            </td>
            <td colspan="2">
                {{ answer["message"] }}
            </td>
        </tr>
        <tr class="small_text">
            <td>submitted: {{ answer["submission_time"] | convert_timestamp }}</td>
            <td>Delete answer</td>
        </tr>
    </table>
    {% endfor %}
</div>
<div>
    <a href="{{ url_for('add_answer', question_id=question["id"]) }}">Add new answer</a>
</div>
<div>
    <a href="{{ url_for('list_index') }}">Back to main page</a>
</div>
</body>
</html>