{% extends "layout.html" %}
{% block title %} Register{% endblock %}
{% block buttons %}{% endblock %}
{% block content %}
    <form method="post" action="/register">
        <div class="login-table">
            <label id ="username">Username: </label>
                <input type="username" name="username">
            <label id="email">E-mail: </label>
                <input type="email" name="email">
            <label id="password">Password:  </label>
                <input type="password" name="password">
        <button type="sumbit">Register</button>
        </div>
    </form>
    {% if used %}<script src="/static/existing_user.js"></script>{% endif %}
{% endblock %}