<nav role="navigation">
  <div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
        <a href="{{ url_for('first_page') }}"><li>Home</li></a>
        <a href="{{ url_for('list_index') }}"><li>All questions</li></a>
        <a href="{{ url_for('login_user') }}"><li>Login</li></a>
        <a href="{{ url_for('register_user') }}"><li>Register</li></a>
        <a href="{{ url_for('profile_page',user_id = session["userid"]) }}"><li>My Profile</li></a>
        <a href="{{ url_for('logout_user') }}"><li>Logout</li></a>
    </ul>
  </div>
</nav>